#-----------------------------------------------------------------------
# initiate:   systemctl enable web2ldap_gunicorn.service
# start:      systemctl start web2ldap_gunicorn.service
# get status: systemctl status web2ldap_gunicorn.service
#-----------------------------------------------------------------------

[Unit]
Description=web2ldap - web-based LDAPv3 client (gunicorn)
Requires=local-fs.target network.target
After=local-fs.target network.target

[Service]
Type=simple
Environment=LDAPNOINIT=1
Environment=PYTHONOPTIMIZE=2
Environment=PYTHONDONTWRITEBYTECODE=1
ExecStart=/usr/bin/python3 -ROOBs -m gunicorn.app.wsgiapp --preload --forwarded-allow-ips=* --graceful-timeout=2 --worker-tmp-dir=/run/web2ldap --bind=unix:/run/web2ldap/web2ldap.sock web2ldap.__main__:application
User=web2ldap
Group=web2ldap
Restart=always
KillSignal=SIGQUIT

# let systemd create temporary run-time directory and use it as current working directory
RuntimeDirectory=web2ldap
WorkingDirectory=/run/web2ldap
# run-time directory where Unix domain socket is created has to be writeable
ReadWritePaths=/run/web2ldap

# various hardening options
CapabilityBoundingSet=
AmbientCapabilities=
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
StandardInput=null
UMask=0077
PrivateUsers=no
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectProc=invisible
ProtectHome=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectClock=yes
NoNewPrivileges=yes
MountFlags=private
SystemCallArchitectures=native
LockPersonality=yes
KeyringMode=private
RestrictRealtime=yes
RestrictNamespaces=yes
RestrictSUIDSGID=yes
DevicePolicy=closed
PrivateIPC=yes
RemoveIPC=yes
MemoryDenyWriteExecute=yes
ProcSubset=pid
SocketBindDeny=any
SystemCallFilter=~ @clock @cpu-emulation @debug @keyring @module @mount @raw-io @reboot @swap @obsolete splice @resources @pkey @timer fork
#AppArmorProfile=web2ldap

[Install]
WantedBy=multi-user.target
